<ion-header>
  <ion-toolbar>
    <ion-title size= "default"> <b>Contato</b> </ion-title>
  </ion-toolbar>
</ion-header>

<style>

  p {
    line-height: 22px;
  }

</style>

<ion-content style="padding:0px;">
 
    <ion-item>
    <ion-icon name= "business-outline" slot="start" style= "height: 40px"> </ion-icon>
      <ion-text>BZS Tecnologia</ion-text>
    </ion-item>
        
    <ion-item>
      <ion-icon name= "location-outline" slot="start" style= "height: 40px"> </ion-icon>
      <ion-text>
        <p class= "ion-text-justify">
        Avenida Maripá, Centro, Nº 3286 <br>
        Marechal Cândido Rondon, Paraná </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name= "call-outline" slot= "start" style= "height: 40px"></ion-icon>
      +55 (45) 3284-2212
    </ion-item>

    <ion-item>
      <ion-icon name= "mail-outline" slot="start" style="height: 40px"></ion-icon>
      bzs@bzs.com.br
    </ion-item>
    
</ion-content>