<ion-header>


  <ion-toolbar>

    <ion-title size= "default"> <b>Nós Somos A BZS Tecnologia</b> </ion-title>

  </ion-toolbar>


</ion-header>


<style>

  p{
    text-indent: 10px;
    line-height: 22px;
  }

</style>



<ion-content style="padding:0px;">


  <ion-title>
    <h3>Missão</h3>
  </ion-title>


  <ion-item>
    <ion-text>
      <p class= "ion-text-justify">
        Oferecer soluções de software, com praticidade e segurança.
      </p>
    </ion-text>
  </ion-item>

  <br>

  <ion-title>
    <h3>
      Visão
    </h3>
  </ion-title>


  <ion-item>
    <ion-text>
      <p class= "ion-text-justify">
        Ser referência pelas soluções customizadas de software para o setor público na região Oeste do Paraná até Dezembro de 2021.
      </p>
    </ion-text>
  </ion-item>
        
    
</ion-content>