ion-title{
    font-family: 'SFUIDisplay', sans-serif;
    src: url('/src/assets/fonts/sf-ui-display-black.ttf');
  }
  ion-item{
    font-family: 'SFUIDisplay', sans-serif;
    src: url('/src/assets/fonts/sf-ui-display-thin.ttf');
  }
  ion-label{
    font-family: 'SFUIDisplay', sans-serif;
    src: url('/src/assets/fonts/sf-ui-display-black.ttf');
  }
  ion-button{
    font-family: 'SFUIDisplay', sans-serif;
    src: url('/src/assets/fonts/sf-ui-display-black.ttf');
  }

